body {
    background-color: #bbadad;
    padding: 0;
    margin: 0;
}

.container {
    display: block;
    overflow: hidden;
    background: #ffffff;
    width: 960px;
    min-height: 680px;
    margin: 0 auto;
   
}

header
{
    background-color: rebeccapurple;
    display: block;
    overflow: hidden;
    height: 175px;
}

#sitename {
    font-weight: bold;
    color: white;
    margin: 60px 35%;
    font-size: 50px;
}

button
{
    width: 100%;
    margin: 0px;
}

nav
{
    background-color: rgb(145, 41, 98);
    height: 40px;
}

nav ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
    border-left: 1px solid gray;
    box-sizing: border-box;  
}

nav ul li a {
    display: block;
    line-height: 30px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;

}

nav ul li a:hover  {
    color: red;
}


main {
    background: #348f22;
    width: 100%;
    min-height: 400px;
}

sidebar
{
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
    width: 20%;
    height: 400px;
    text-align: center;
}


#content
{
    float: left;
    background: white;
    min-height: 400px;
    width: 80%;
}

footer
{
    background-color: aqua;
    height: 65px;
}