body {
    background-color: #bbadad;
    padding: 0;
    margin: 0;
}

.but1
{
    float: left;
    width: 25%;
    height: 40px;
    margin:0px;
}
.container {
    background: #ffffff;
    width: 960px;
    min-height: 680px;
    margin: 0 auto;
   
}

header
{
    background-color: rebeccapurple;
    background-image: url(logo_transparent_final.png);
    background-position: 50%;
    height: 175px;
    font-size: 45px;
    text-align: center;
}
button
{
    width: 100%;
    margin: 0px;
}

nav
{
    background-color: rgb(145, 41, 98);
    height: 40px;
}


main {
    background: #348f22;
    width: 100%;
    min-height: 400px;
}

sidebar
{
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
    width: 20%;
    height: 400px;
    text-align: center;
}


#content
{
    float: left;
    background: white;
    min-height: 400px;
    width: 80%;
}

footer
{
    background-color: aqua;
    height: 65px;
}